aiofiles
aioshutil
apscheduler
bs4
deep-translator
emoji
flask
gallery-dl
gevent
google-generativeai
gradio_client
gunicorn
humanize
langcodes
lxml
m3u8
meta-ai-api
mutagen
niquests[socks]
Pillow
psutil
pycurl
pyrofork
python-dotenv
python-magic
pywidevine
requests
speedtest-cli
tenacity
TgCrypto-pyrofork
uvloop
vcsi